### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as py

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Calculate the total number of unique players by "SN"
total_players = purchase_data['SN'].nunique()

#Create a 'Total Players' Data Frame
total_players_df = pd.DataFrame({'Total Players' : [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Create variable for items, average price, number of purchases, and total revenue. Calculate count, mean, and sum.
count_of_items = purchase_data['Item ID'].nunique()
average_price = purchase_data['Price'].mean()
number_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

In [4]:
#Display the calculations in a Summary data frame.
summary_df = pd.DataFrame({'Number of Unique Items' : [count_of_items],
                           'Average Price' : [average_price],
                           'Number of Purchases' : [number_purchases],
                           'Total Revenue' : [total_revenue]      
})

#Format the summary table to show the Average Price and Total Revenue as currency and round two numbers after the decimal place.
summary_df.style.format({'Average Price' : '${:,.2f}',
                        'Total Revenue' : '${:,.2f}'
                        
})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Calculate the Total Count and Percentage of Players
player_gender = purchase_data.groupby('Gender')['SN'].nunique()
percentage = player_gender/total_players * 100


#Merge the two variables into one Data Frame on 'Gender'
gender_demo = pd.merge(player_gender, percentage, on="Gender")


#Clean up the data formatting by renaming the columns
gender_demo = gender_demo.rename(columns={'SN_x':'Total Count', 'SN_y':'Percentage of Players'})

#Sort the values by ascending
gender_demo = gender_demo.sort_values(['Total Count'], ascending=False)

#Format the Percentage of Players to inclue the % sign and round two digits after the decimal place
gender_final = gender_demo.style.format({'Percentage of Players':"{:,.2f}%"})
gender_final


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Calculate the purchase count by Gender 
purchase_count = purchase_data.groupby('Gender')['Purchase ID'].count()

#Find the mean of the total price by Gender
avg_pur_price = purchase_data.groupby('Gender')['Price'].mean()

#Sum the purchase prices by Gender
total_pur_value = purchase_data.groupby('Gender')['Price'].sum()

#Divide the 'Total Purchase Value' by count of players by Gender
avg_pur_total = total_pur_value / player_gender

#Create initial summary data frame to store variables
purchase_summ = pd.DataFrame({'Purchase Count' : purchase_count,
                           'Average Purchase Price' : avg_pur_price,
                           'Total Purchase Value' : total_pur_value,
                           'Avg Total Purchase per Person' : avg_pur_total})

# Set 'Gender' as the index
purchase_summ.index.name = "Gender"

#Sort the values of 'Purchase Count' in ascending order
purchase_summ = purchase_summ.sort_values(['Purchase Count'], ascending=False)

#Clean up the data formatting by adding '$' to show currency and round to two digits after the decimal
purchase_summ_final = purchase_summ.style.format({'Average Purchase Price' : '${:,.2f}',
                                                'Total Purchase Value' : '${:,.2f}', 
                                                'Avg Total Purchase per Person' : '${:,.2f}'})

#Final analysis
purchase_summ_final

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#Found age min, max, and count
#purchase_data['Age'].describe()

#Create bins and group names for the customer age data
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99]
names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']


purchase_data['Age Group'] = pd.cut(purchase_data['Age'],bins,labels = names)
age_data = purchase_data.groupby('Age Group')

#Find count of players within each age group
age_group = age_data['SN'].nunique()

#Find percentage of each age group by dividing the count by total players
age_percent = age_group / total_players * 100


#Create the summary data frame
age_summary = pd.DataFrame({'Total Count' : age_group,
                           'Percentage of Players' : age_percent})

#Format the data frame to show percentage and contain two decimal points
age_final = age_summary.style.format({'Percentage of Players' : '{:,.2f}%'})

#Final summary
age_final

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#Calculate the purchase count using the established bins
count_purchase = age_data['Purchase ID'].count()

#Calculate average purchase price for each age group
avg_purchase_price = age_data['Price'].mean()

#Multiply the purchase count and avergae purchase price for the total purchase value
total_purchase_value = count_purchase * avg_purchase_price

#Divide the total purchase value by the lpayer count within each age group for the avg. purchase price per person
avgpurchase_person = total_purchase_value / age_group

#Create Summary Data Frame
age_purchase_summary = pd.DataFrame({'Purchase Count' : count_purchase,
                           'Average Purchase Price' : avg_purchase_price,
                            'Total Purchase Value' : total_purchase_value,
                            'Avg Total Purchase per Person' : avgpurchase_person})

#Format the data frame
age_purchase_final = age_purchase_summary.style.format({'Average Purchase Price' : '${:,.2f}',
                                                'Total Purchase Value' : '${:,.2f}', 
                                                'Avg Total Purchase per Person' : '${:,.2f}'})


age_purchase_final

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
#Group the spenders by SN. Find count of purchases by SN
group_spenders = purchase_data.groupby('SN')
spend_pur_count = group_spenders['SN'].count()

#Find average purchase price for each SN
avg_purchase = group_spenders['Price'].mean()

#Final Total Purchase Value
sum_purchase = group_spenders['Price'].sum()

#Format into a Data Frame
spender_summary = pd.DataFrame({'Purchase Count' : spend_pur_count,
                           'Average Purchase Price' : avg_purchase,
                            'Total Purchase Value' : sum_purchase})

#Sort the values in ascending order by Total Purchase Value and limit to the top 5 spenders
spender_sorter = spender_summary.sort_values(['Total Purchase Value'], ascending=False).head(5)

#Format the Data Frame to round two digits after the decimal
top_spender_final = spender_sorter.style.format({'Average Purchase Price' : '${:,.2f}',
                                                'Total Purchase Value' : '${:,.2f}'})


top_spender_final

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
#Group items by Item ID and Item Name
pop_items = purchase_data[['Item ID', 'Item Name', 'Price']]
items_grouped = pop_items.groupby(['Item ID', 'Item Name'])

#Find count of items
item_count = items_grouped['Item Name'].count()

#Find Item Price
item_price = items_grouped['Price'].mean()

#Find the Total Purchase Value of the items
item_total = items_grouped['Price'].sum()

#Create the Data Frame
item_summary = pd.DataFrame({'Purchase Count' : item_count,
                           'Item Price' : item_price,
                            'Total Purchase Value' : item_total})

#Sort the items in descending order by Purchase Count
item_sorted = item_summary.sort_values(['Purchase Count'], ascending=False).head(5)

#Clean up the data frame formatting
item_final = item_sorted.style.format({'Item Price' : '${:,.2f}',
                                        'Total Purchase Value' : '${:,.2f}'})

item_final

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame