### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import pandas as pd
import numpy as py

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [38]:
#Calculate the total number of unique players by "SN"
total_players = purchase_data['SN'].nunique()

#Create a 'Total Players' Data Frame
total_players_df = pd.DataFrame({'Total Players' : [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
#Create variable for items, average price, number of purchases, and total revenue. Calculate count, mean, and sum.
count_of_items = purchase_data['Item ID'].nunique()
average_price = purchase_data['Price'].mean()
number_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

In [40]:
#Display the calculations in a Summary data frame.
summary_df = pd.DataFrame({'Number of Unique Items' : [count_of_items],
                           'Average Price' : [average_price],
                           'Number of Purchases' : [number_purchases],
                           'Total Revenue' : [total_revenue]      
})

#Format the summary table to show the Average Price and Total Revenue as currency and round two numbers after the decimal place.
summary_df.style.format({'Average Price' : '${:,.2f}',
                        'Total Revenue' : '${:,.2f}'
                        
})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [41]:
#Calculate the Total Count and Percentage of Players

player_gender = purchase_data.groupby('Gender')['SN'].nunique()
percentage = player_gender/total_players * 100


#Merge the two variables into one Data Frame on 'Gender'

gender_demo = pd.merge(player_gender, percentage, on="Gender")


#Clean up the data formatting: rename columns, sort by ascending, and round to two digits after the decimal place.

gender_demo = gender_demo.rename(columns={'SN_x':'Total Count', 'SN_y':'Percentage of Players'})
gender_demo = gender_demo.sort_values(['Total Count'], ascending=False)
gender_final = gender_demo.style.format({'Percentage of Players':"{:,.2f}%"})
gender_final


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
#Calculate the purchase count by Gender 
purchase_count = purchase_data.groupby('Gender')['Purchase ID'].count()

#Find the mean of the total price by Gender
avg_pur_price = purchase_data.groupby('Gender')['Price'].mean()

#Sum the purchase prices by Gender
total_pur_value = purchase_data.groupby('Gender')['Price'].sum()

#Divide the Total Purchase Value by count of players by Gender
avg_pur_total = total_pur_value / player_gender

#Create initial summary data frame to store variables
purchase_summ =

C:\Users\caitl\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame